<div class="social-btn-wrap">
  <a class="social-btn" href="https://x.com" data-transition>
    <img src="/images/x.png">
  </a>
  <a class="social-btn" href="https://youtube.com" data-transition>
    <img src="/images/youtube.png">
  </a>
  <a class="social-btn" href="https://tiktok.com" data-transition>
    <img src="/images/tiktok.png">
  </a>
  <a class="social-btn" href="https://instagram.com" data-transition>
    <img src="/images/ig.png">
  </a>
  <a class="social-btn" href="https://facebook.com" data-transition>
    <img src="/images/fb.png">
  </a>
</div>
