<div class="social-bar">
  <a class="social-btn" href="https://x.com/daatsiintsamkhagrp" target="_blank" aria-label="X">
    <img src="images/x.png" alt="X">
  </a>

  <a class="social-btn" href="https://www.youtube.com/daatsiintsamkhagrp" target="_blank" aria-label="YouTube">
    <img src="images/yt.png" alt="YouTube">
  </a>

  <a class="social-btn" href="https://www.tiktok.com/@daatsiintsamkhagrp" target="_blank" aria-label="TikTok">
    <img src="images/tt.png" alt="TikTok">
  </a>

  <a class="social-btn" href="https://www.instagram.com/daatsiintsamkhagrp/" target="_blank" aria-label="Instagram">
    <img src="images/ig.webp" alt="Instagram">
  </a>

  <a class="social-btn" href="https://www.facebook.com/WWW.Furniture.factory" target="_blank" aria-label="Facebook">
    <img src="images/fb.png" alt="Facebook">
  </a>
</div>
